.content_text{style: "padding-top:0;"}
  = image_tag "/img/about/about_header_image.png", class: 'width_full'
  = image_tag "/img/about/about_content1.png", class: 'margin_4per margin_top_5per'
  = image_tag "/img/about/about_content2.png", class: 'margin_3per margin_top_5per'
  = image_tag "/img/common/bottom_banner_lists.png", class: 'margin_3per'
