%div.content_text{data: {role: "content"}, style: "padding:0;"}
  = image_tag "/img/reservation/reservation_header_image.png", class: 'width_full'
  = image_tag "/img/reservation/reservation_content1.png", class: 'margin_4per margin_top_5per'
  = render "shared/consulting_request_form"
