%div.content_text{data: {role: "content"}, style: "margin-top:50px; padding-top:0;"}
  = image_tag "/img/consulting/consulting_top.png", class: 'width_full'
  = render "shared/consulting_request_form"
