<%# -*- coding: utf-8 -*- %>
<style type="text/css">
#map{width:100%; height:100%;}
</style>
<% content_for :js do %>
<!--
    <script src="flexslider/jquery.flexslider.js"></script>
    <link href="flexslider/flexslider.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" charset="utf-8">

/*      $(window).load(function() {
          $('.flexslider').flexslider();
          animation: "slide";
      });
*/
         $(window).load(function(){
	   $('.flexslider').flexslider({
             animation:"slide",
	     slideDirection: "horizontal",
	     slideshow: true,
	     slideshowSpeed: 4000,
	     animationDuration: 500,
	     keyboardNav:false,
	     directionNav:true,
	     controlNav:true,
	     mousewheel:false,
	     pausePlay:false,
	     randomize:false,
	     slideToStart:0,
	     animationLoop:true,
	     pauseOnAction:false,
	     pauseOnHover:false,
	     start: function(){
	     },
	     before: function(){},
	     after: function(){ 
	     },
	     end: function(){}
	   });
	 });
     </script>
     -->
<script type="text/javascript" src="http://apis.daum.net/maps/maps3.js?apikey=8a5d3d830404224fba17ea9122d1dcd9a005d960">
</script>
<script type="text/javascript">
	window.onload = function() {
	var position = new daum.maps.LatLng(35.859773, 128.625265);

	var map = new daum.maps.Map(document.getElementById('map'), {
		center: position,
		level: 4,
		mapTypeId: daum.maps.MapTypeId.ROADMAP
	});
        
	var icon = new daum.maps.MarkerImage('http://localhost:3000/img/main/map_ancher.png', new daum.maps.Size(54,72));
	var marker = new daum.maps.Marker({
		position: position,
		image:icon
	});
	marker.setMap(map);

	};
</script>
     <% if(@event) %>

       <script type="text/javascript" charset="utf-8">

          //popup을 띄워주는 스크립트
         $(document).on('pageshow', '#mp', function(event){
           
	   setTimeout(function(){
                   $('#popup_event').popup('open');
           },0);

         });
     
       </script>
     
     <% end %>
<% end %>

<div class="main_page">

    <img src="img/main/main_image.png" class="bottom_gap_double">

    <div class="indented_area">
      <img src="img/main/wdental_special_dental_program.png" class="bottom_gap"/>
      <div class="focus_section bottom_gap">
	      <img src="img/main/minitec_image_contents.png" class="focus_content"/>
	      <div class="focus_button">
		      <img src="img/main/minitec_see_more_button.png"/>
              </div>
      </div>
      <div class="focus_section bottom_gap">
	      <img src="img/main/wm_image_contents.png" class="focus_content"/>
	      <div class="focus_button">
		      <img src="img/main/minitec_see_more_button.png"/>
              </div>
      </div>

      <img src="img/main/see_movie_clip.png" class="bottom_gap"/>
      <img src="img/main/wdental_master.png" class="bottom_gap" />
      <img src="img/main/wdental_master_contents.png" class="bottom_gap" />
      <img src="img/main/wdental_characteristics.png" class="bottom_gap" />
      <img src="img/main/wdental_characteristics_contents.png" class="bottom_gap" style="margin-bottom:10%" />
      <img src="img/main/wdental_official_time.png" class="bottom_gap" />
      <img src="img/main/wdental_official_time_contents.png" class="bottom_gap" />
      <img src="img/main/wdental_location.png" />
      <!--              Daum 지도               -->
      <div id="map" style="width:100%; height:350px;"></div>
      <img src="img/main/map_address.png" class="bottom_gap" />
    </div> <!-- indented area -->
</div>

<!-- %%%%%%%%%%%%%%%%%%%%%% index 본문 끝 %%%%%%%%%%%%%%%%%% -->



<!--    이벤트 팝업 페이지      -->
  
  
  <%  if(@event) %>
    
    <div data-role="popup" id="popup_event" data-history="false" data-overlay-theme="a" data-theme="d" data-corners="false">

      <a href="/" data-role="button" data-theme="a" data-rel="back" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a>
 
      <div class="popup_image">
        <img src="<%=@event.thumb_image.url %>">
      </div>
 
      <div class="popup_button">
        <a href="/event" data-role="button" data-ajax="false" data-inline="true" data-transition="flow" data-theme="a">참여하기</a>
        <a href="/" data-role="button" data-rel="back" data-inline="true" data-theme="c">닫기</a>
      </div>

    </div>

  <% end %>
