<!-- Footer 영역 -->
<div class="main_footer" id="footer">

  <div class="icons_row">

    <div class="element">
      <div class="icon">
        <a href="/" data-ajax="false">
          <img src="img/common/footer_icon_home.png" />
        </a>
      </div>
    </div>

    <div class="element">
	<div class="icon">
	    <a href="http://blog.naver.com/inident" data-ajax="false" target='_blank'>
		<img src="img/common/footer_icon_about.png"/>
	    </a>
	</div>
    </div>

    <div class="element">
	<div class="icon">
	    <a href="/clip" data-ajax="false">
		<img src="img/common/footer_icon_list.png"/>
	    </a>
	</div>
    </div>

  </div>



  <div class="icons_row">
    
    <div class="big_element">
      <div class="icon">
        <a href="/feature" data-ajax="false">
          <img src="img/common/footer_icon_minitec.png" />
        </a>
      </div>
    </div>

    <div class="big_element">
	<div class="icon">
	    <a href="/about" data-ajax="false">
		<img src="img/common/footer_icon_wm.png"/>
	    </a>
	</div>
    </div>

  </div>
 

  <div class="icons_row">

    <div class="element">
      <div class="icon">
        <a href="/event" data-ajax="false">
          <img src="img/common/footer_icon_clips.png" />
        </a>
      </div>
    </div>

    <div class="element">
      <div class="icon">
        <a href="/kakao" data-ajax="false">
          <img src="img/common/footer_icon_reservation.png" />
        </a>
      </div>
    </div>

    <div class="element">
      <div class="icon">
        <a href="tel:02-6925-0033" data-ajax="false">
          <img src="img/common/footer_icon_call.png" />
        </a>
      </div>
    </div>

  </div>

</div>


<div class="corp_info">
  <img src="img/common/footer_info.png" />
</div>

