<!-- Footer 영역 -->
<div class="main_footer" id="footer">

  <div class="oneline">

    <div class="element">
      <div class="icon">
        <a href="/" data-ajax="false">
          <img src="img/common/icon_home.png" />
        </a>
      </div>
    </div>

    <div class="element">
	<div class="icon">
	    <a href="http://blog.naver.com/inident" data-ajax="false" target='_blank'>
		<img src="img/common/icon_blog.png"/>
	    </a>
	</div>
    </div>

    <div class="last_element">
	<div class="icon">
	    <a href="/clip" data-ajax="false">
		<img src="img/common/icon_clip.png"/>
	    </a>
	</div>
    </div>

  </div>



  <div class="oneline">
    
    <div class="element">
      <div class="icon">
        <a href="/feature" data-ajax="false">
          <img src="img/common/icon_feature.png" />
        </a>
      </div>
    </div>

    <div class="element">
      <div class="icon">
        <a href="/progress" data-ajax="false">
          <img src="img/common/icon_progress.png" />
        </a>
      </div>
    </div>

    <div class="last_element">
	<div class="icon">
	    <a href="/about" data-ajax="false">
		<img src="img/common/icon_before_after.png"/>
	    </a>
	</div>
    </div>

  </div>
 

  <div class="last_oneline">

    <div class="element">
      <div class="icon">
        <a href="/event" data-ajax="false">
          <img src="img/common/icon_event.png" />
        </a>
      </div>
    </div>

    <div class="element">
      <div class="icon">
        <a href="/kakao" data-ajax="false">
          <img src="img/common/icon_kakao.png" />
        </a>
      </div>
    </div>

    <div class="last_element">
      <div class="icon">
        <a href="tel:02-6925-0033" data-ajax="false">
          <img src="img/common/icon_call.png" />
        </a>
      </div>
    </div>

  </div>

</div>


<div class="corp_info">
  <!--<img class="left" style="width:170px;margin:10px 0 0 5px" src="/img/common/footer_corpInfo.png"/>-->
  <div class="left" style="width:60%;margin:5px 0 0 5px;font-size:0.75em; text-align:left; color: white; text-shadow: none;font-weight: bold">
    <p> 사업자 등록번호 : 214-90-99419</p>
    <p> 보아 치과 대표자 박정현</p>
    <p> Copyright @ 2013 BOA DENTAL CLINIC </p>
  </div>

  <a href="tel:02-6925-0033" target:"_blank" class="right">
    <!--<img class="right" style="height:40px;margin:5px 5px 0 0" src="img/common/footer_telNumber.png"/>-->
    <span>02-6925-0033</span>
  </a>

</div>

