<div class="main_header" style="text-align: center">
  
  <div class="logo" style="float: left">
    <a href="/" data-theme="a" data-ajax="false">
      <img src="/img/common/logo.png" alt="Boa Dental Clinic">   
    </a>
  </div>

  <div class="nu">
    <a href="#footer" data-theme="a" data-ajax="false">
      <span>MENU</span>
    </a>
  </div>
</div><!-- header ë -->
