<div class="main_header" style="text-align: center">
  <div class="header-button" style="float: left">
    <a href="tel:053-753-2879" data-ajax="false">
      <img src="/img/common/header_button_call.png" alt="Call to W Dental Clinic">
    </a>
  </div>
  
  <div class="logo" style="clear: both">
    <a href="/" data-theme="a" data-ajax="false">
      <img src="/img/common/header_logo.png" alt="W Dental Clinic">
    </a>
  </div>

  <div class="header-button" style="float: right; ">
    <a href="#footer" data-theme="a" data-ajax="false">
      <img src="/img/common/header_button_menu.png" alt="Menu" style="margin-top:18%;">
    </a>
  </div>
</div><!-- header ë -->
