  <% content_for :js do %>
        <script type="text/javascript" charset="utf-8">
function getElementsByClassName(classname,tag) {
        if(!tag) tag = "*";
        var anchs =  document.getElementsByTagName(tag);
        var total_anchs = anchs.length;
        var regexp = new RegExp('\\b' + classname + '\\b');
        var class_items = new Array()

        for(var i=0;i<total_anchs;i++) {  
                var this_item = anchs[i];
                if(regexp.test(this_item.className)) class_items.push(this_item);
        }
        return class_items;
}
 
   $(window).load(function() {
          var winw = $(window).width();
          var dong = document.getElementsByTagName("iframe");
          for(var i=0; i<dong.length;i++){
             dong[i].width =  winw * 0.84;
             dong[i].height = dong[i].width * 9 / 16;
          }
      });

    function executeURLLink(clip_msg, clip_url){
       kakao.link("talk").send({
                msg : clip_msg,
                url : clip_url,
                appid : "m.cclmuse.com",
                appver : "1.0",
                appname : "CCL치과",
                type : "link"
        });
    }
 
    </script>

  <% end %>


<div class="content_text" style="margin-top:50px; padding-top:0;">  <!-- aboutccl 본문 시작 -->
   <img src="img/before_after/before_after_page_top.png" class="width_full">
     <% @abouts.each do |about| %>
       <h1><%= about.title %></h1>
       <p><%= about.content %></p> 
     <% end %>
</div>  <!-- aboutccl 본문 끝 -->


