*{
	margin:0;
	padding:0;
	border:0;
}

html, body{
	background:#ffffff;
	height:100%;
}

.content_text{
  background-color:white;
  padding-top:0;
}

/*------------------  공용  ------------------------*/

.margin_4per{
  margin:0 auto;
  width:92%;
  padding:4% 0;
  background:white;
  display:block;
}

.margin_3per{
  margin:0 auto;
  width:94%;
  padding:2% 0;
  background:white;
  display:block;
}

.margin_1per{
  margin:0 auto;
  width:98%;
  padding:2% 0;
  background:white;
  display:block;
}

.margin_top_5per{
  margin-top:5%;
  background:white;
  display:block;
}

/*--------------------------------------------------*/

.main_header{
	/*background:url('/img/common/header_pattern.png') repeat-x;*/
	background-color: #ffffff;
	width:100%;
	vertical-align:middle;
	/*position:fixed;
	top:0px;
	left:0px;
	overflow: visible; 
        z-index:1000;
	box-shadow: 0px 0px 15px black; */
}

.main_header .logo{
	vertical-align:middle;
	display:inline-block;
	width:30%;
	margin-top:2%;
	margin-bottom:2%;
}

.main_header .logo img{
	width:100%;
}

.main_header .header-button{
	margin: 4.5% 2% 0% 2%;
	display:inline-block;
	width:7%;

}

.main_header .header-button img{
        /*height:100%; */
	width:100%;
}

.main_header .header-button span{
	display:block;
	margin-top:13px;
}

.main_header .nu a:link {text-decoration:none; color:#fff;}
.main_header .nu a:visited {text-decoration:none; color:#fff;}
.main_header .nu a:hover {text-decoration:none; color:#fff;}
.main_header .nu a:active {text-decoration:none; color:#fff;}

.main_footer{
        background-color: #ffffff;
        width:100%;
        overflow:hidden;
	/*padding: 10px;*/
        clear:both;
}


.main_footer .element{
	margin:1.54%;
	/*margin-top:15px;*/
	display: inline-block;
	width:29%;
}

.main_footer .big_element{
	margin: 1.54%;
	display: inline-block;
	width:45.2%;
}

.main_footer .icon img{
        width:100%;
}

.main_footer .icons_row{
	width:100%;
	vertical-align:top;
	text-align:center;
}

.corp_info{
	width:100%;
	font-size:1em;
	color:#ffffff;
}

.corp_info img{
	width:100%;
}

.width_full{
	width:100%;
	border:0;
	margin:0;
}

.width_full img{
	width:100%;
}



/*--------------------전화걸기--------------------------*/
.consulting_call {
background:url("/img/index/call_pattern.png") repeat;
display: block;
height: 2em;
padding: 0.85em 0 1em 0;
}

.consulting_call .title {
    color: #91743C;
    font-size: 1em;
    text-align:center;
    text-shadow: none;
}

.consulting_call .phoneNumber {
    color: black;
    font-size: 0.85em;
    text-align: center;
    text-shadow: none;
}
/*--------------------전화걸기 끝--------------------------*/
/*--------------------메인페이지--------------------------*/

.main_page{
	min-height:100%;
	width:100%;
	background:#ffffff;
}

.main_page img{
	width:100%;
}

.indented_area{
	margin: 0 2.75% 
}

.bottom_gap{
	margin-bottom: 2.75%;
}

.bottom_gap_double{
	margin-bottom: 5.5%;
}

.focus_section{
	background: rgb(248,248,248);
	border:1px solid rgb(225,225,225);
	width:100%;
	padding:7% 0 7%;
	text-align:center;

}

.focus_section .focus_content{
	width: 71%;

}

.focus_section .focus_button{
	margin: 7% auto 0;
	width: 20%;
}

.popup_image img{
  max-height:512px;
  width:100%;
}

.popup_button{
  width:100%;
  text-align:center;
}





/*--------------------상담신청 용--------------------------*/
#consult{
 /* width:90%;
  margin:auto;
  margin-top:90px;
  margin-bottom:70px; */
}

#consult .bot{
  margin:auto;
}

.consulting {
background-color: white;
padding : 1em;
}

.consulting h2 {
    text-align: center;
    color:#91742C;
}

.consulting p {
    text-align: center;
}



/*--------------------before & After 용---------------------*/

.bf_element{
	margin:auto;
	width:300px;
	border:1px;
}

.bf_element .before{
	margin:0px 5px 0px 0px;
	width:140px;
	float:left;
	display:inline-block;
	border:1px;
}

.bf_element .compare{
	width:20px;
	background:url() no-repeat;
	clear:both;
	margin:auto;
	display:inline-block;
	border:1px;
}

.bf_element .after{
	margin:0px 0px 0px 5px;
	width:140px;
	float:right;
	display:inline-block;
	border:1px;
}

.bf_element .descript{
	width:100%;
	text-align:center;
	clear:both;
	border:1px;
}



/*--------------------Event 용---------------------*/

.event{
	width:90%;
	margin:auto;
	margin-top:50px;
	text-align:center;
	clear:both;
	border:1px;
}

.event img{
	width:100%;
	display:block;
}

.event .comment{
	width:100%;
	text-align:center;
}



/*--------------------------------------------------*/

.way{
	width:100%;
	margin-top:50px;
	
}



/*--------------- about ------------------------*/

.about{
	width:90%;
	margin:50px auto;
}

.about .name_area{
  font-size:1.6em;
  font-weight:bold;
}

.about .name_area .case{
  color:#AC9253;
}

.about .name_area .name{
  color:black;
}

.about .photo img{
  width:100%;
}

.about hr {

	border:#eee 1px dotted;

	margin-top:25px;

	margin-bottom:25px;

}



.about .content_text {

	padding-left:8%;

	padding-right:8%;

	padding-top:2%;

	padding-bottom:2%;

	font-size:1.0em;

	text-align: justify;

	color:#666666;

	line-height: 150%;

}



.about .content_text h1{

	font-size:140%;

	color:#669900;

	font-weight: bold;

	margin-top:50px;

	margin-bottom:20px;

}



.about .content_text h2{

	font-size:120%;

	color:#666666;

	font-weight: normal;

	padding-top: 15px;

	padding-bottom: 15px;

}



.about .content_text p {

	padding-top: 15px;

	padding-bottom: 15px;

}



.about .content_text ol {

	padding:0;

	font-size:inherit;

	margin-bottom:30px;

}



.about .content_text li {

	text-align:right;

	font-weight:bold;

	list-style-type:none;

	margin-top:30px;

	margin-bottom:15px;

	font-size:130%;

	font-weight:bold;

	color:#333333;

}



.about .content_text li img {

	width:100%;

	filter:alpha(opacity=70);

	opacity: 0.7;

	-moz-opacity:0.3;

}



/*----------- movie ----------------*/
.clip_element{
   width:95%; 
   margin:0px auto ;
   border-bottom:2px dotted #cccccc;
   font-weight:bold;
   font-size: 1.3em;
   clear:both;  
}

.clip_element .movie_area{
  width:90%; 
  margin:5px auto;
  border:0px;

}

.clip_element .name_area{
  width:90%;
  margin-left:5%;
}

.clip_element .kakao_area{
  width:90%;
  margin-bottom:40px;
  margin-left:5%;
}

.clip_element .kakao_area img{
   min-width:100px;
   max-width:300px;
   width:40%;
}

.medical_banner{
  margin:5% auto 0;
  background: rgb(248,248,248);
  border:1px solid rgb(225,225,225);
  width:94%;
  padding: 7% 0 7%;
  text-align:center;
}

.medical_banner img{
  width:71%;
}

.medical_banner_button{
  margin: 7% auto 0;
  width:20%;
}

.medical_banner_button img{
  width: 100%;
}
